body{
background-image: url("./water.gif");
background-repeat: repeat;
color: white;
font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.prompt{
    position: absolute;
    top: 50%;   
    left: 50%;  
   transform: translate(-50%, -50%);
   background-color: aliceblue;
   color: black;
   padding: 40px;
   border-radius: 10px;
}

h4{
    margin-top: 0;
}

.prompttext{
    font-size: 12px;
}

button{
    background-color: #527f7f;
    border: none;
    width: 100%;
    padding: 6px 6px;
    margin-top: 10px;
    color: white;
}

button:hover{
    background-color: #3b5c5c;
}

button:active{
    background-color: #345050;
}

.prompthidden, .gameboardhidden{
    display: none;
}

.gamediv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(185, 206, 236, 0);
    margin-top: 10vh;
}

.column{
    padding: 25px;
    /* border: 1px solid white; */
    background-color: rgba(227, 236, 246, 0.766);
}

/* .column:hover{
    background-color: rgba(161, 194, 231, 0.829);
     transition: background-color 0.1s ease;
} */

.previewplacement{
    background-color: rgba(161, 194, 231, 0.829);
     transition: background-color 0.1s ease;
}

.hasship{
    background-color: #5facffc2;
}